<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"> -->
	<link rel="stylesheet" type="text/css" href="/templates/styles.css">
</head>
<body>

	<header style="background-color: #B980F0;">
		<div class="container">
		<div id="brandname">
			<h6 style="color: aliceblue;">AI 01 김세진</h6>
		</div>

		<h2 style="color: aliceblue;">Youtube 스팸 댓글 탐지 </h2>
		
	</div>
	</header>

	<div class="ml-container">

		<form action="{{ url_for('predict')}}" method="POST">
		<p>댓글 내용을 입력하세요. 영어만 지원됩니다.</p>
		<!-- <input type="text" name="comment"/> -->
		<textarea name="comment" rows="4" cols="50"></textarea>
		<br/>

		<input type="submit" class="btn-info" value="predict">
		
	</form>
		
	</div>

	
	

</body>
</html>

