body{
	font:15px/1.5 Arial, Helvetica,sans-serif;
	padding: 0px;
	background-color:#fff;
}

.container{
	width:100%;
	margin: auto;
	overflow: hidden;

}

header{
	background:#B980F0;
	border-bottom:#B980F0 3px solid;
	height:120px;
	width:100%;
	padding-top:30px;

}

.main-header{
			text-align:center;
			background-color:#C400FF;
			height:100px;
			width:100%;
			margin:0px;
		}
#brandname{
	float:left;
	font-size:30px;
	color: #fff;
	margin: 10px;
}

header h2{
	text-align:center;
	color:#fff;

}



.btn-info {background-color: #B980F0;
	height:40px;
	width:100px;} 
.btn-info:hover {background: #B980F0;}


.resultss{
	border-radius: 15px 50px;
    background: #C400FF;
    padding: 20px; 
    width: 200px;
    height: 150px;
}